<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
      crossorigin="anonymous"
    />
    <title>데이터 표</title>
    <style>
      #data-table a {
        cursor: pointer;
      }
    </style>
  </head>
  <body>
    <div class="container mt-4">
      <table id="data-table" class="table table-bordered table-striped"></table>
      <table
        id="detail-table"
        class="table table-bordered table-striped"
      ></table>
    </div>
    <script>
      const campaign = "<%= campaign %>"; // 서버에서 전달한 캠페인 이름

      function createTable(data, tableId, detailCallback = null) {
        const table = document.getElementById(tableId);
        table.innerHTML = "";

        const thead = document.createElement("thead");
        const headerRow = document.createElement("tr");
        for (const key in data[0]) {
          const th = document.createElement("th");
          th.innerText = key;
          headerRow.appendChild(th);
        }
        thead.appendChild(headerRow);
        table.appendChild(thead);

        const tbody = document.createElement("tbody");
        data.forEach((row) => {
          const tr = document.createElement("tr");
          for (const key in row) {
            const td = document.createElement("td");
            if (key === "name" && detailCallback) {
              const a = document.createElement("a");
              a.addEventListener("click", () => detailCallback(row[key]));
              a.innerText = row[key];
              td.appendChild(a);
            } else {
              td.innerText = row[key];
            }
            tr.appendChild(td);
          }
          tbody.appendChild(tr);
        });
        table.appendChild(tbody);
      }

      function fetchData(url, tableId, detailCallback = null) {
        fetch(url)
          .then((response) => response.json())
          .then((data) => createTable(data, tableId, detailCallback))
          .catch((error) => {
            console.error("에러 발생:", error);
          });
      }

      function fetchDetail(placement) {
        fetchData(
          `http://localhost:8080/detail/placement/${placement}`,
          "detail-table"
        );
      }

      fetchData(
        `http://localhost:8080/detail/${campaign}/data`,
        "data-table",
        fetchDetail
      );
    </script>
  </body>
</html>
